<div class="row">
	<div class="col-lg-6" style="background-color: red">
		<h1> ok </h1>
	</div>
	<div class="col-lg-6" style="background-color: blue">
		<h1> ok </h1>
	</div>
</div>


<div class="row">
	<div class="col-lg-12" style="background-color: red">
		<h1> ok </h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-4" style="background-color: red">
		<h1> ok </h1>
	</div>
	<div class="col-lg-4" style="background-color: blue">
		<h1> ok </h1>
	</div>
	<div class="col-lg-4" style="background-color: red">
		<h1> ok </h1>
	</div>
</div>
