<div class="card-header card-header-tabs card-header-primary">

	  
	<div class="nav-tabs-navigation">
	<div class="nav-tabs-wrapper">
		<ul class="nav nav-tabs" data-tabs="tabs">


			<!-- Main -->
			<li class="nav-item">
			<a class="nav-link active" href="#main" data-toggle="tab">
				<i class="fa fa-lg fa-puzzle-piece" aria-hidden="true" style="color: white"></i> Fuzzer
				<div class="ripple-container"></div>
			</a>
			</li>


			<!-- Crashes
			<li class="nav-item">
			<a class="nav-link" href="#crashes" data-toggle="tab">
				<i class="fa fa-lg fa-bug" aria-hidden="true" style="color: white"></i> Crashes 
				<div class="ripple-container"></div>
			</a>
			</li> -->


			<!-- Logs 
			<li class="nav-item">
			<a class="nav-link" href="#logs" data-toggle="tab">
				<i class="fa fa-lg fa-file-archive-o" aria-hidden="true" style="color: white"></i> Logs
				<div class="ripple-container"></div>
			</a>
			</li> -->



		</ul>
	</div>
	</div>


</div>
